<div class="col-12" style="align-content: center;">
  <div class="jumbotron text-center">
    <h4 class="display-7">
      Fashion Products Classifier
    </h4>
  </div>

<!--  <div class="grid-container"   *ngFor="let pic of images_from_server">-->
  <div class="container" >
    <div class="row">
    <div   *ngFor="let pic of images_from_server" class="card border-secondary col-3" >
      <div class="card-header bg-transparent border-ssecondary"><b>{{ pic.category }}</b></div>
      <div class="card-body text-secondary">
        <img class="img-fluid img-thumbnail rounded float-left" height="250" src="{{sys_file_url}}{{ pic.file }}"
             alt="User Avatar">
      </div>
      <div class="card-footer bg-transparent border-secondary">
        <a href="#" class="card-link"><b>{{ pic.price }} €</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" class="">Add to Cart</a>
      </div>
    </div>
</div>
  </div>

</div>



